body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: rgb(163, 55, 1);
  background-image: url("bg.jpeg");
  background-size: 100vw auto;
  background-position: right;
  background-attachment: fixed;
  color: rgb(61, 21, 0);
}

.container {
  background-color: rgba(232, 202, 187, .85);
  min-height: 100vh;
  padding-bottom: 40px;
}

.btn {
  background-color: rgb(163, 55, 1);
  color: rgb(234, 203, 187);
}

.btn:hover {
  color: rgb(61, 21, 0);
  background-color: rgba(163, 55, 1, .6);
}

.jumbotron {
  font-family: 'Autour One', cursive;
  background-color: rgb(163, 55, 1);
  color: rgb(234, 203, 187);
}

.sidebar {
  padding: 0px 20px;
  color: rgb(135, 98, 78);
}

.sidebar h2 {
  font-size: 26px;
  color: rgb(102, 50, 23);
}

.sidebar h4 {
  font-weight: bold;
  font-size: 16px;
  color: rgb(102, 50, 23);
}

.sidebar ul {
  list-style: none;
  padding-left: 1em;
}

.sidebar strong {
  color: rgb(102, 50, 23);
}

.intro {
  font-style: italic;
}

.contents {
  padding: 0px 20px;
}

.contents h2 {
  font-size: 35px;
  margin-top: 0px;
}

label {
  font-size: 18px;
  font-weight: 500;
}

.initially-hidden {
  display: none;
}

.remove {
  display: inline-block;
  color: rgb(135, 98, 78);
  margin-bottom: 20px;
}

.remove:hover {
  color: rgb(163, 55, 1);
  cursor: pointer;
}

.order-details {
  display: none;
}

.order-contents {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.confirmation {
  display: none;
}

img.confirmation {
  max-width: 100%;
  border: 6px solid rgb(61, 21, 0);
  border-radius: 3px;
  margin-top: 20px;
}
